<div>
  <%= flash[:notice] %>
</div>
     
<div class="Title-B">
  <h2>Title:<%= @book.title %></h2>
</div>

<div class="Title-B">
  <h2>Body:<%= @book.body %></h2>
</div>
      <%= link_to "Edit", edit_book_path(@book.id),class: "link-Edit" %>
    　｜　
      <%= link_to "Back",books_path,class: "link_Back" %>
